cycle-time = 300
team-list = [Woodshop, Paint Shop, Metal Shop, Chop Shop, Excom, Ops, Studio, Audio Booth, Brew Shop, Resin Room (3DP)]
group-list = [Woodshop, Paint Shop, Metal Shop, Chop Shop, Excom, Ops, Studio, Audio Booth, Brew Shop, Resin Room (3DP)]
doorflow-api-key =
nexudus-api-username =
nexudus-api-password =

