cycle-time = 300
team-list = [Woodshop, Paint Shop, Metal Shop, Chop Shop, Excom, Ops, Studio, Audio Booth]
group-list = [Woodshop, Paint Shop, Metal Shop, Chop Shop, Excom, Ops, Studio, Audio Booth]
doorflow-api-key = 3zxv-BQUSiSyER5UxrM4
nexudus-api-username = brown.b774@gmail.com
nexudus-api-password = spool9DUDE2cardinal

